<h3>Estadísticas</h3>

<table id="tabla-stats">
  <tr>
    <td>Número de preguntas: </td>
    <td><%=s.npre%></td>
  </tr>
  <tr>
    <td>Número de comentarios totales: </td>
    <td><%=s.ncom%></td>
  </tr>
  <tr>
    <td>Número medio de comentarios por pregunta: </td>
    <td><%=s.media%></td>
  </tr>
  <tr>
    <td>Número de preguntas sin comentarios: </td>
    <td><%=s.npresin%></td>
  </tr>
  <tr>
    <td>Número de preguntas con comentarios: </td>
    <td><%=s.nprecon%></td>
  </tr>
</table>
